.clients {
  padding: 4rem 4rem;
  background-color: rgb(246, 246, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem;
}

.content {
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  color: rgb(27, 27, 27);
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  width: 100%;
}

.image-section img {
  margin: 1.5rem;
  cursor: pointer;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.image-section img:hover {
  transform: scale(1.1); /* Adjust the scale factor for the hover effect */
}

@media only screen and (max-width: 1160px) {
  .clients {
    padding: 1rem;
  }

  .image-section img {
    width: 80%;
    height: auto;
  }
}
