.action-buttons {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(246, 246, 255);
  width: 100%;
}

.button {
  padding: 0.5rem 1.1rem;
  border-radius: 0.7rem;
  margin: 10px;
  border: none;
  color: white;
  font-size: 1.2rem;
  box-shadow: 5px 5px 10px rgb(179, 179, 179);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Adding a transition effect */
}

.contact {
  background-color: rgb(10, 87, 118);
}

.gallery {
  background-color: rgb(122, 181, 204);
}

/* Add the hover effect */
.button:hover {
  background-color: rgb(3, 31, 43); 
}
