.title {
  font-size: 3rem;
  cursor: pointer;
}

.title:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1160px) {
  .title {
    font-size: 2rem; /* Adjusted font size for mobile screens */
    font-weight: bold;
  }
  
  /* Additional styles for further responsiveness if needed */
}
